body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#controles-usuarios{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form{
  margin-top: 20px;
}

.table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

tr.impar{
  background-color: #f9f9f9;
}

.btn{
  background-color: #00B7FF;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.error{
  color: red;
  font-weight: bold;
}